.singleItem__header {
    padding: 20px 0;
    display: flex;
    gap: 15px;
    border-bottom: 2px solid var(--border-color);
    &-title {
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 32px;
    }
    &-edit {
        display: none;
        padding-top: 6px;
        background: transparent;
        border: none;
        cursor: pointer;
        div {
            display: flex;
        }
        svg {
            fill: var(--light-color);
            width: 16px;
            height: 16px;
            transition: fill .3s ease-in-out;
        }
        &:hover {
            svg {
                fill: var(--main-color);
            }
        }
        &.visible {
            display: block;
        }
    }
}