.sidebar {
    background: var(--secondary-color);
    padding: 60px 20px 180px 20px;
    border-right: 2px solid var(--border-color);
}
.allFolders {
    margin-bottom: 20px;
}
.listFolders {
    margin-bottom: 30px;
}