@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --main-color: #767676;
    --secondary-color: #F4F6F8;
    --border-color: #ececec;
    --light-color: #dadada;
    --text-color: #1b1b1b;
    --check-color: #4DD599;
    --main-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.App {
    display: grid;
    grid-template-columns: minmax(200px, 350px) 1fr;
    height: 100vh;
}